@charset "UTF-8";
/*pc용 스타일시작*/
/*미디어쿼리:미디어의 가로크기가 1132px 이상이면 아래 스타일 적용*/
@media all and (min-width:1132px) {

/*슬라이드 영역 시작 */
.carousel-item, .carousel-item img {height:600px;}
/*슬라이드 영역 끝 */

}
/*pc용 스타일 끝*/

/*weare 영역시작 */
.weare-header {
margin;0 3%;/*가운데 정렬이면서 좌우여백 3% */
margin-top:30px;
text-align:left;/*내부 글자들 좌우 정렬을 왼쪽으로 지정*/
}
.weare-header .section-title {
float:left;
width:50%;
}
.weare-header p {
float:right;
width:50%;
position:relative;/*p태그 내용을 상대위치로 배치 */
padding-left:20px;/*p태그의 왼쪽 여백을 줌. 아래 before가상요소가 나타날 영역을 넓히는 역할 */
}
.weare-header p::before {
position:absolute;/* p태그 내용을 절대위치로 지정 */
top:7px;
left:0px;
width:2px;/*짝대기의 가로크기 */
height:120px; /*짝대기의 세로크기 */
background:#ccc; /*짝대기의 색깔 */
content:"";/*짝대기만 만들고, 내용은 빈공간으로 처리 */
}/*p태그앞에 가상요소로 짝대기 하나 만듭니다.*/
/*weare 영역끝 */

/*menu 영역 스타일 시작 */
.menu-section .section-title {
text-align:left;
margin-left:3%;}
.menu-section li {width:25%;}
/*menu 영역 스타일 끝 */

/*event 영역 시작*/
.event-section {
margin-left:3%;
margin-right:3%;
}
.event-section h1 {
float:left;
margin-30px;
}
.event-section .container {
float:right;
width:80%;
}
/*event 영역 끝*/